html {
  font-family: 'Roboto', sans-serif;
  color: $copy-color;
}

.home {
  width: 75vw;
  min-width: 420px;
  margin: 0 auto;
}

.page-heading {
  text-align: center;
  margin: $margin * 2 0;
}

.page-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.documentation-items {
  display: flex;
  flex-direction: column;
  padding-bottom: 16.66vh;
  align-items: flex-start;
}

.page-items__item {
  width: 300px;
  position: relative;
  padding: $margin $margin $margin * 3;
  margin: $margin;
  cursor: pointer;
  border-radius: $border-radius;
  background-color: $off-white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.25s;
  a {
    color: $copy-color;
    text-decoration: none;
  }
  img {
   height: auto;
   width: 100%;
  }
  h3 {
    margin: $margin / 2 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
  &:hover {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
}

.page-items__item-image {
  height: 180px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-items__item-row {
  position: absolute;
  font-size: 25px;
  bottom: $margin;
  right: $margin;
  color: $whisp;
}

video {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  margin-bottom: $margin * 2;
  align-self: center;
  max-width: 75vh;
}

.button--download {
	margin-top: 1em;
	padding: 0.5em 1em;
  border: 2px solid #37a;
  background-color: #37a;
  border-radius: 5px;
  color: white;
  white-space: nowrap;
  text-decoration: none;
	&:hover {
		background-color: white;
		color: #37a;
		cursor: pointer;
	}
}

.back-button {
  cursor: pointer;
  &:hover {
    color: #666;
  }
}