.body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  max-width: 75rem;
  margin: 0 auto;
}

.advert-button {
  margin: 1em;
  padding: 1em 2em;
  border: 2px solid #37a;
  background-color: #37a;
  border-radius: 5px;
  color: white;
  white-space: nowrap;
  text-decoration: none;
}

.advert-button:hover {
  background-color: white;
  color: #37a;
  cursor: pointer;
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header img {
  width: 200px;
}

.header .header__logo-box {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 35px;
}

.header .header__logo-box-description {
  display: flex;
  flex-direction: column;
  padding: 35px;
}

.header .header__logo-box-description h1 {
  margin: 0;
  padding: 0;
}

.header .header__button-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

main iframe {
  width: 100%;
  max-width: 568px;
  height: 322px;
  margin-bottom: 35px;
  filter: drop-shadow(0 5px 5px rgba(0,0,0,0.1));
}

section {
  flex: 2;
  padding: 35px;
  min-width: 35rem;
  background-color: white;
}

section table {
  width: 100%;
}

section h2:not(:first-child) {
  margin-top: 35px;
}

aside {
  flex: 1;
  padding: 35px;
}

aside table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
  min-width: 300px;
}

footer {
  padding: 70px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.arrow {
  display: block;
  transform: scale(1.8);
}
