{% include head-documentation.html %}

<script>
  // https://github.com/sampotts/plyr/#options
  const player = new Plyr('video');
</script>

<div class="home">
  <h1 class="page-heading"><i class="fas fa-arrow-circle-left back-button" onclick="window.history.back();"></i>&nbsp;&nbsp;{{ page.title }}</h1>
  <div class="documentation-items">
    {% unless page.video_src == '' %}
      <video
        controls
        crossorigin
        playsinline
        poster="{{ site.url }}{{ site.baseurl }}{{ page.poster_image }}"
      >
        <source src="{{ page.video_src }}" type="video/mp4">
        <!-- Fallback for browsers that don't support the <video> element -->
        <a
          href="{{page.video_src}}"
          download
        >
          Download
        </a>
      </video>
    {% endunless %}

    {{ content }}

    {% unless page.file == '' %}
      <a
        href="{{ site.url }}{{ site.baseurl }}{{ page.file }}"
        download
        class="button--download"
      >
        <i class="fas fa-download"></i>&nbsp;&nbsp;Download file
      </a>
    {% endunless %}
  </div>
</div>