{% include head-documentation.html %}

<script>
  // https://github.com/sampotts/plyr/#options
  const player = new Plyr('video');
</script>

<div class="body">
  <div class="container">
    {% if page.video_src %}
      <video
        controls
        crossorigin
        playsinline
        poster="{{ site.url }}{{ site.baseurl }}{{ page.poster_image }}"
      >
        <source src="{{ page.video_src }}" type="video/mp4">
        <!-- Fallback for browsers that don't support the <video> element -->
        <a
          href="{{page.video_src}}"
          download
        >
          Download
        </a>
      </video>
    {% endif %}
  </div>

  {{ content }}

  {% if page.file %}
    <a
      href="{{ site.url }}{{ site.baseurl }}{{ page.page.file }}"
      download
    >
      ↓&nbsp;Download file
    </a>
  {% endif %}
</div>